# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next
/out

# build output
/build
/dist
/coverage

# local environment
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# deployment
.vercel

# editor + OS files
.DS_Store
Thumbs.db
.vscode
.idea

# typescript
*.tsbuildinfo
next-env.d.ts
